<h3>Docker Runner</h3>
<p>
  Jobs are run inside docker containers!
</p>
<div class="form-horizontal">
  <div class="control-group">
    <label class="control-label">DOCKER_HOST</label>
    <div class="controls">
      <input ng-model="config.dockerHost" placeholder="Docker remote host (defaults to env var DOCKER_HOST)" class="input-block-level input-xxlarge" type="text">
    </div>
  </div>
<hr />
<fieldset>
  <div class="control-group">
    <label class="control-label">Image</label>
    <div class="controls">
      <input ng-model="config.image" placeholder="Docker image to use. Default: strider/strider-docker-slave" class="input-block-level input-xxlarge" type="text">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Dns</label>
    <div class="controls">
      <input ng-model="config.dns" ng-list placeholder="comma separated list of dns servers" class="input-block-level input-xxlarge" type="text">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Binds</label>
    <div class="controls">
      <input ng-model="config.binds" ng-list placeholder="comma separated list of volume bindings. Example: /host_data:/container_data" class="input-block-level input-xxlarge" type="text">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Volumes</label>
    <div class="controls">
      <input ng-model="config.volumes" ng-list placeholder="comma separated list of volumes to mount. Example: /shared_vol" class="input-block-level input-xxlarge" type="text">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">VolumesFrom</label>
    <div class="controls">
      <input ng-model="config.volumesFrom" ng-list placeholder="comma separated list of volumes from other containers" class="input-block-level input-xxlarge" type="text">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Privileged</label>
    <div class="controls checkbox">
      <label>
        <input type="checkbox" ng-model="config.privileged">
      </label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">PublishAllPorts</label>
    <div class="controls checkbox">
      <label>
        <input type="checkbox" ng-model="config.publishAllPorts">
      </label>
    </div>
  </div>
</fieldset>
<button class="btn btn-primary" ng-click="save()">Save</button>
</div>
